<section id="header">
    <a routerLink=""><img src="assets/img/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a routerLink=""  routerLinkActive="active">Home</a></li>
            <li><a routerLink="">Shop</a></li>
            <li><a routerLink="">Blog</a></li>
            <li><a routerLink="">About</a></li>
            <li><a routerLink="">Contact</a></li>
            <li><a routerLink=""><i class="fa-solid fa-bag-shopping"></i></a></li>
        </ul>
    </div>
</section>