<section id="hero">
    <h4>Trande-in-offer</h4>
    <h2>Super value desls</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button>Shop Now</button>
</section>
<section id="feature" class="section-p1" >
    <div class="fe__box" *ngFor="let fea of products ">
        <img [src]="fea.thumbnail" alt="">
        <h6>{{ fea.name}}</h6>
    </div>
</section>


<section id="product1" class="section-p1">
    <h2>Featured Product</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro__container">
        <div class="pro" *ngFor="let pros of pro ">
            <img [src]="pros.thumbnail" alt="">
            <div class="des">
                <span>{{pros.brand}}</span>
                <h5>{{pros.name}}</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>{{pros.price}}</h4>
            </div>
            <a href="">
                <i class="fa-solid fa-cart-shopping cart"></i>
            </a>
        </div>
    </div>

</section>

<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span> 70% Off</span> - All t-Shirts & Accessories</h2>
    <button class="btn__banner">Explore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro__container">
        <div class="pro" *ngFor="let pros of proNew">
            <img [src]="pros.thumbnail" alt="">
            <div class="des">
                <span>{{pros.brand}}</span>
                <h5>{{pros.name}}</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>{{pros.price}}</h4>
            </div>
            <a routerLink="">
                <i class="fa-solid fa-cart-shopping cart"></i>
            </a>
        </div>
    </div>

</section>

<section id="sm-banner" class="section-p1">
    <div class="banner__box">
        <h4>Crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button  class="white">Learn More</button>
    </div>

    <div class="banner__box banner__box2">
        <h4>Crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Learn More</button>
    </div>
</section>

<section id="banner3">
    <div class="banner__box ">     
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>

    <div class="banner__box  banner__box2">     
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>

    <div class="banner__box  banner__box3">     
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
</section> 

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For NewsLetters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your E-mail and Address" value="">
        <button class="btn-w">Sign Up</button>
    </div>
</section>
